<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      

 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace映射文件的namespace必须等于Mapper映射器的全限定名 -->
<mapper namespace="kui.eureka_recommend.dao.InterestDao">

<!--由于news_text数据过长，所以不做传输，只有当用户点击该新闻时再次获取news_text字段  -->
	<insert id="insertInterest" parameterType="kui.eureka_recommend.entity.Interest">
	  	insert into interest(id,n_no,val,timestamp) values(#{id},#{n_no},#{val},#{timestamp})
	</insert>
	
	<select id="findAllUserId" resultType="int">
		select distinct id from interest
	</select>
	
	<select id="findInterestByIdN_no" parameterType="int" resultType="kui.eureka_recommend.entity.Interest">
		select * from interest 
		where id = #{id} 
		and n_no = #{n_no}
	</select>
	
	<update id="updateIterestVal" parameterType="kui.eureka_recommend.entity.Interest" >
		update interest set val = val + #{val}
		where id = #{id} 
		and n_no = #{n_no}
	</update>
</mapper>



